
.pageHeader{
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.row{
    margin-bottom: 0;
}

i, .material-icons{
    margin: 0 !important;
}

.btn-small{
    margin-bottom: 10px !important;
}